<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>{{ title }}</title>
		<link rel="stylesheet" href="{{ static_url("css/app.css") }}" type="text/css">
		<style type="text/css">
			
		</style>
		
	</head>
	
	<body>
		
	</body>
	
	<script type="text/javascript" src="{{ static_url("sencha-touch-all-debug.js") }}"></script>
	<script type="text/javascript" src="{{ static_url("v000/gamemain.js") }}"></script>
	<script type="text/javascript" src="{{ static_url("v000/ui_config.js") }}"></script>
	<script type="text/javascript" src="{{ static_url("v000/painternode.js") }}"></script>
    
</html>
